.code{
    background-color: hsla(0, 100%, 100%, 0.88);;
}
.no-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.use{
      font-family: "sans-serif", sans-serif;
  font-weight:700;
  font-style: normal;
    
    
    
  
}
.a{
   font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style: normal;
  
}
@media screen and (max-width: 570px) {
 .sid-nav{
    display: none;
 }
 .margin-left{
    margin-left: 0px;
 }
 .top-nav{
    max-width: 100%;
    /* float: none; */
 }
 .img-margin{
    width: 10git0%;
 }
}

 